*{
    margin: 0;
    padding: 0;
}

body
{
    color: #333;
    font-family: 'Exo 2', sans-serif;
    background-color: whitesmoke;
}

#intro {
    height: 100vh;
    background: radial-gradient(circle, #d8e7ec -20%, #42535b 100%);
    text-align: center;
    color: #fff;
}
#intro .content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#intro img{
    position: absolute;
    top: 78.4% ;
    left: 50%;
    transform: translate(-50%, -50%);
}
#intro .content h1{
    font-size: 100px; 
    opacity: 0;
}
#intro .content p{
    opacity: 0;
    
    font-size: 27px; 
}


.c-scroll-down {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0;
    margin:50vh 0 0 0;
    white-space: nowrap;
    font-size: 10px;
    letter-spacing: 0.1px;
    margin-bottom: -6px;
    line-height: 1.2;
    opacity: 0;
  
  }
  .c-scroll-down:before {
    width: 20px;
    height: 30px;
    border: 2px solid #fff;
    content: '';
    display: block;
    border-radius: 30px;
    margin: 6px auto;
  }
  .c-scroll-down-after {
    position: absolute;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    background-color: #fff;
    content: '';
    top: 12px;
    left: 50%;
    margin-left: -3px;
  }
  
.titles
{
    font-size: 1.4em;
    margin-bottom: 25px;
    
}
.about
{
    text-align: center;
    margin: 200px 0;
    border-bottom: 1px #ebebeb solid;
}
/* .about h1{
    opacity: 0;
    /* transform: translateY(50px); 
    transition: all 0.3s ease-in-out;
} */
/* .about h1.fade-in{
    opacity: 100;
    //transform: translateY(0px); 
    transition: all 0.5s ease-in-out;
} */
.education {
    text-align: center;
    margin: 200px 0;
    border-bottom: 1px #ebebeb solid;
}
.education-info{
    display: inline-block;
    vertical-align: top;
    width: 45vw;
}
.education-courses{
    display: inline-block;    
    width: 45vw;
    text-align: left;
    margin-left: 15px;
}
.education-info img {
    width: 180px;
    height: 180px;
}
.education p {
    margin: 10px auto;
    color: #294D67;
    vertical-align: middle;
}
.certificate{
    margin: 100px;
}
.certificate img{
    width: 80vw;
}
ion-icon
{
    color: #5ae000;
    font-size: 120%;
    vertical-align: middle;
}