*{
    margin: 0;
    padding: 0;
}

body
{
    color: #333;
    font-family: 'Exo 2', sans-serif;
    background-color: whitesmoke;
    margin-bottom: 50vh;
}

#intro {
    height: 100%;
    background: radial-gradient(circle, #d8e7ec -20%, #42535b 100%);
    text-align: center;
    color: #fff;
}
#intro .content {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 80vh;
}
#intro img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
#intro .content h1{
    font-size: 100px; 
    opacity: 0;
}
#intro .content p{
    opacity: 0;
    
    font-size: 27px; 
}


.scroll-down {
    position: absolute;
    bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 1.2;
    opacity: 0;
  
  }
  .scroll-down:before {
    width: 20px;
    height: 30px;
    border: 2px solid #fff;
    content: '';
    display: block;
    border-radius: 30px;
    margin: 0px auto;
    margin-bottom: 7px;
  }
  .scroll-down-dot {
    position: absolute;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    background-color: #fff;
    content: '';
    top: 6px;
    left: 50%;
    margin-left: -3px;
  }
  h2 
  {
      margin-bottom: 10px;
  }
.titles
{
    font-size: 1.4em;
    margin-bottom: 40px;
    
}

.inline-block{
    display: inline-block;
}
.about
{
    text-align: center;
    margin: 200px 0;
}
.about-img
{
    width: 45vw;
    vertical-align: top;
    
}
.about-contacts
{
    vertical-align: top;
    
    width: 45vw;
    text-align: left;
    margin: 5px 0 5px 15px;

}
ul
{
    list-style: none;
}
.about-summary
{
    width: 80vw;
    margin: 25px 0 15px 10vw;
    height: 20px;
}
/* .about h1{
    opacity: 0;
    /* transform: translateY(50px); 
    transition: all 0.3s ease-in-out;
} */
/* .about h1.fade-in{
    opacity: 100;
    //transform: translateY(0px); 
    transition: all 0.5s ease-in-out;
} */
.elements {
    text-align: center;
    margin: 15vh 0 30vh 0;
    /* border-bottom: 1px #ebebeb solid; */
}
.element-info{
    display: inline-block;
    vertical-align: top;
    width: 45vw;
    
}
.element-courses{
    font-size: 1.2em;
    display: inline-block;    
    width: 45vw;
    text-align: left;
    margin-left: 15px;
}
.element-info img {
    width: 200px;
}
.element li, .element p {
    font-size: 1.2em;  
    margin: 10px auto;
    color: #294D67;
    vertical-align: middle;
    
}
.element{
    margin-bottom: 100px;
}
.certificate{
    margin: 25px 10vw;
}
.certificate img{
    width: 70vw;
}
ion-icon
{
    color: #5ae000;
    font-size: 150%;
    vertical-align: middle;
    margin-right: 10px;
}
.date 
{
    font-size: 0.6em;
    opacity: 0.7;
}